/* elements------------------------------------------------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700;900&display=swap');

body,html {
    font-family: 'Karla', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: white;
    text-transform: lowercase;
    }

header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    padding: 30px;
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

p{
    font-size: 12px;
}

.pink-text {
    color: #bb86fc;
}

.purple-text {
    color: #3700b3;
}

.green-text {
    color: #03dac6;
}

.invert {
    filter: invert(100%); 
}

a:hover {
    color: #03dac6;
    }

a:active {
    color: white;
    }


.bio {
    width: 80%;
    margin: auto;
}

/* Header -----------------------------------------------------------------------------------------------------------------*/

#img-logo {
    width: 110px;
    position: relative;
    text-decoration: none;
    filter: invert(100%); 
    display: flex;
    flex: 1;
    padding-left: 20px;
}

#navigation-container {
    position: relative;
    background-color: #121212;
    filter:contrast(95%);
    display: flex;    
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    transition: transform .2s;

}    

.nav-selected {
    text-decoration: none;
    color: white;
    font-weight:600;
    text-size-adjust: auto;
    padding: 0pc 20px 0 20px;
}

.nav-text {
    text-decoration: none;
    color: white;
    font-weight:300;
    text-size-adjust: auto;
    padding: 0pc 20px 0 20px;
}

/* Banner -----------------------------------------------------------------------------------------------------------------*/

.banner-image{
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),
        url("Images/banner-about.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.banner-image .about{
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),
        url("Images/banner-about.jpg");
    }

.banner-text {
    text-align: center;
} 

/* Content  -----------------------------------------------------------------------------------------------------------------*/

#photo {
    max-width: 50%;
    border-radius: 50%;
    margin: 2em auto;
    display: flex;
}

.bio {
    width: fit-content;
    max-width: 1400px;
    margin: auto;
}

.links {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

.social:hover a{
    color: #03dac6;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.social:active a{
    color: white;
    }

.social a{
    margin: 30px;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    color: white;
}

#icon-about {
    object-fit: contain;
    filter: invert(100%);
    padding: 10px;
}

.links-heading{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
}

/* Footer -----------------------------------------------------------------------------------------------------------------*/

footer{
    text-align: center;
    margin-bottom: 2px;
}

/* Media Queries: Between 600 - 900px wide (Tablet) -----------------------------------------------------------------------------------------------------------------*/

@media (max-width: 900px) {

    h2{
        font-size: 1.25rem;
    }

    header {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .bio {
    width: 80%;
    margin: auto;
}

    
}
/* Media Queries: Smaller than 600px wide (Mobile) -----------------------------------------------------------------------------------------------------------------*/

@media (max-width: 600px) {
    
    header{
        display: inline-flex;
        align-items: stretch;
    }

    #navigation-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img-logo{
        display: flex;
        flex-direction: center;
    }

    nav{
        width: auto;
        display: flex;
        padding: 30px;
    }

    .links .social{
        display: flex;
        flex-direction: column;
    }

}